<footer class="footer">
  <small>
    The Harbor-Nebula Project by Samuel Benson
  </small>
  <nav>
    <ul>
      <li><%= link_to "RSL",   '#' %></li>
      <li><%= link_to "EVE Online", '#' %></li>
    
    </ul>
  </nav>
</footer>