<div class="container">
	<footer class="footer">
	  <small>
	    The Harbor Nebula Project - by me!</a>
	  </small>
	  <nav>
	    <ul>
	      <li><%= link_to "RSL", raid_path %></li>
	      <li><%= link_to "EVE Online", eve_path %></li>
	    </ul>
	  </nav>
	</footer>
</div>